'name': 'Tree'
'fileTypes': [
  'tree'
]
'scopeName': 'source.tree'
'patterns': [
  {
    'include': '#line'
  }
]
'repository':
  'line':
    'begin': '^\t*'
    'beginCaptures':
      '0':
        'name': 'tree.indentation'
    'end': '\\n'
    'endCaptures':
      '0':
        'name': 'tree.end-of-line'
    'name': 'tree.meta.structure.list'
    'patterns': [
      {
        'include': '#data'
      }
      {
        'include': '#punctuation'
      }
      {
        'include': '#keyword'
      }
      {
        'include': '#structure'
      }
      {
        'match': ' +'
        'name': 'separator.tree'
      }
    ]
  'punctuation':
    'match': '[-`~!@#$%\\^&*()_=+\\\\|/?"\';:{}\\[\\]<>,.]+(?![^ \\t\\n\\\\])'
    'name': 'tree.structure.entity.name.function'
  'keyword':
    'match': '[-`~!@#$%\\^&*()_=+\\\\|/?"\';:{}\\[\\]<>,.][^ \\t\\n\\\\]+'
    'name': 'tree.entity.name.class'
  'structure':
    'match': '[^ \\t\\n\\\\]+'
    'name': 'tree.structure.entity.name.variable'
    'patterns': [
      {
        'include': '#punctuation'
      }
    ]
  'data':
    'match': '\\\\[^\\n]*'
    'name': 'tree.string.data'
